.b05 {
	padding-top: 50px;
	padding-bottom: 160px;
	background: #fff url("../img/b05_bg.png") bottom center  no-repeat;

	.staff {
		padding: 0;
		height: 540px;
		margin: 0 0 40px 0;
		position: relative;

		.staff__image {
			display: block;
			width: 227px;
			height: 227px;
		}

		.staff__text {
			color: #fff;
			width: 200px;
			height: 200px;
			display: none;
			font-size: 13px;
			line-height: 16px;
			text-align: center;
			padding-top: 40px;
			@include rotate(45deg);

			.staff__name {
				font-size: 17px;
				line-height: 22px;
				position: relative;
				padding-bottom: 10px;
				margin-bottom: 10px;
				text-transform: uppercase;

				&:before {
					left: 50%;
					bottom: 0;
					width: 26px;
					content: ' ';
					margin-left: -13px;
					position: absolute;
					border: 2px solid #fff;
				}
			}

			a {
				color: #fff;
				text-decoration: underline;
			}

			p {
				margin-bottom: 0;
			}
		}

		li {
			width: 200px;
			height: 200px;
			cursor: pointer;
			overflow: hidden;
			position: absolute;
			@include rotate(-45deg);
			background: #4765c3;

			&:hover {

				.staff__image {
					display: none;
				}

				.staff__text {
					display: block;
				}
			}

			&.item1 {
				top: 0;
				left: 20px;
			}

			&.item2 {
				top: 226px;
				left: 85px;
			}

			&.item3 {
				top: 80px;
				left: 230px;
			}

			&.item4 {
				left: 440px;
				top: 0;
			}

			&.item5 {
				top: 226px;
				left: 374px;
			}


			&.item6 {
				top: 145px;
				left: 586px;
			}

			&.item7 {
				top: 0;
				left: 732px;
			}

			&.item8 {
				top: 226px;
				right: 172px;
			}

			&.item9 {
				top: 80px;
				left: 944px;
			}

		}
	}

	.staff__slogan {
		color: #555;
		padding: 12px;
		font-size: 20px;
		line-height: 24px;
		font-style: italic;
		margin-left: 95px;
		margin-right: 95px;
		text-align: center;
		border: 2px solid #bababa;
	}
}