.b01 {
	height: 830px;
	position: relative;
	background: url("../img/b01_bg.jpg") top center no-repeat;

	&:before {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		content: ' ';
		height: 169px;
		position: absolute;
		background: url("../img/header_bottom.png") bottom center no-repeat;
	}

	.b01__top {
		top: 0;
		left: 0;
		right: 0;
		content: " ";
		z-index: 500;
		height: 169px;
		position: fixed;
		background: url("../img/header_top.png") top center no-repeat;

		.container {
			height: 100%;
			padding-top: 15px;
		}

		.logo {
			left: 50%;
			top: 12px;
			width: 139px;
			height: 139px;
			margin-left: -70px;
			position: absolute;
			background: url("../img/logo.png") 0 0 no-repeat;
		}

		.b01__name {
			color: #222;
			float: left;
			width: 480px;
			height: 85px;
			font-size: 26px;
			font-weight: 600;
			line-height: 34px;
			text-align: right;
		}


		.b01__contact {
			color: #222;
			float: right;
			width: 480px;
			font-size: 26px;
			font-weight: 600;
			line-height: 30px;
			text-align: left;

			.top-phone {
				margin: 0;
				padding: 0;
				float: left;
				width: 196px;
				list-style: none;

				li {
					font-size: 18px;
					font-weight: 600;
					line-height: 24px;
				}
			}

			.btn-callback {
				float: left;
			}
		}
	}

	.b01__content {
		left: 0;
		right: 0;
		top: 280px;
		color: #fff;
		z-index: 50;
		position: absolute;

		.b01__content-text {
			height: 60px;
			padding: 0 60px;
			font-size: 30px;
			line-height: 60px;
			position: relative;
			text-align: center;
			font-style: italic;
			display: inline-block;
			margin-bottom: 70px;

			&:after,
			&:before {
				top: 50%;
				width: 31px;
				height: 7px;
				content: " ";
				position: absolute;
				background: url("../img/sprite.png") -5px 0 no-repeat;
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
			}
		}
	}

	.b01__form {
		width: 1075px;
		padding: 40px 55px;
		@include center-block();
		@include border-radius(10px);
		background: rgba(36, 35, 47, 0.85);

		.form-title {
			color: #fff;
			font-size: 30px;
			font-weight: 300;
			line-height: 30px;
			text-align: center;
			margin-bottom: 50px;

			span {
				font-weight: 700;
			}
		}

		.form__row {
			padding: 0;
			margin: 0 -20px;
			list-style: none;

			li {
				float: left;
				width: 33.33%;
				padding: 0 20px;
			}
		}

		.btn-submit {
			margin-top: -7px;
		}
	}

	.video-inner {
		width: 100%;
		height: 100%;
		z-index: 2;
		overflow: hidden;
		position: relative;

		video {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}

		.video-pattern {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 4;
			content: ' ';
			position: absolute;
			background: url("../img/video__pattern.png");
		}
	}
}

.topnav {

	ul {
		margin: 0;
		padding: 0;
		width: 480px;
		list-style: none;

		li {
			color: #666;
			float: left;
			font-size: 15px;
			line-height: 20px;
			position: relative;
			text-align: center;
			padding: 0 50px 0 0;

			&:before {
				top: 50%;
				right: 23px;
				width: 5px;
				height: 4px;
				content: ' ';
				position: absolute;
				background: url("../img/sprite.png") 0 0 no-repeat;
			}



			&:last-child {
				padding-right: 0;

				&:before {
					display: none;
				}
			}

			a {
				color: #666;
				text-decoration: none;
				border-bottom: 1px dashed #666;

				&:hover {
					border-color: transparent;
				}
			}
		}
	}
}