.b02 {
	height: 775px;
	padding-top: 65px;
	position: relative;
	background: #fff url("../img/b02_bg.png") bottom center no-repeat;

	&:after {
		left: 0;
		right: 0;
		z-index: 25;
		top: -58px;
		height: 432px;
		content: ' ';
		position: absolute;
		background: url("../img/b02_salad.png") top center no-repeat;
	}

	.container {
	}

	.why {
		position: relative;

		&:before {
			top: 0;
			left: 50%;
			content: ' ';
			width: 331px;
			height: 427px;
			position: absolute;
			margin-left: -165px;
			background: url("../img/b02_photo.jpg") 0 0 no-repeat;
		}

		ul {
			margin: 0;
			padding: 0;
			width: 365px;
			list-style: none;

			li {
				width: 100%;
				display: table;
				height: 130px;
				min-height: 109px;
				position: relative;
				margin-bottom: 40px;

				&:before {
					top: 50%;
					z-index: 100;
					width: 109px;
					height: 109px;
					content: ' ';
					margin-top: -54px;
					position: absolute;
					background: url("../img/b02_icons.jpg") no-repeat;
				}

				&:hover {

					&:before {
						-moz-transform: rotate(360deg);
						-webkit-transform: rotate(360deg);
						-o-transform: rotate(360deg);
						-ms-transform: rotate(360deg);
						transform: rotate(360deg);
						-moz-transition: all 0.5s ease-in-out;
						-webkit-transition: all 0.5s ease-in-out;
						-o-transition: all 0.5s ease-in-out;
						-ms-transition: all 0.5s ease-in-out;
						transition: all 0.5s ease-in-out;
					}
				}

				&.item1 {
					padding-left: 140px;

					&:before {
						left: 8px;
						background: url("../img/b02_icons.png") 0 0 no-repeat;
					}
				}

				&.item2 {
					text-align: right;
					padding-right: 140px;

					&:before {
						right: 8px;
						background-position: 0 -109px;
					}
				}

				&.item3 {
					padding-left: 140px;

					&:before {
						left: 8px;
						background-position: 0 -218px;
					}
				}

				&.item4 {
					padding-left: 140px;

					&:before {
						left: 8px;
						z-index: 60;
						background-position: -109px 0;
					}
				}

				&.item5 {
					text-align: right;
					padding-right: 140px;

					&:before {
						right: 8px;
						background-position: -109px -109px;
					}
				}

				&.item6 {
					padding-left: 140px;

					&:before {
						left: 8px;
						background-position: -109px -218px;
					}
				}
			}
		}

		.why__inner {
			width: 100%;
			z-index: 60;
			position: relative;
			min-height: 109px;
			display: table-cell;
			vertical-align: middle;
		}

		.why__title {
			color: #000;
			font-size: 20px;
			font-weight: 700;
			line-height: 27px;

			span {
				font-size: 27px;
			}
		}

		.why__text {
			color: #444;
			font-size: 18px;
			line-height: 24px;
			font-style: italic;
		}
	}
}