.b03 {
	padding-top: 85px;
	position: relative;
	background: #eef1f6;
	padding-bottom: 10px;

	&:before {
		left: 0;
		right: 0;
		top: 440px;
		height: 544px;
		content: ' ';
		z-index: 20;
		position: absolute;
		background: url("../img/b02_bg_right.png") top center no-repeat;
	}

	&:after {
		left: 0;
		right: 0;
		top: 1175px;
		height: 487px;
		content: ' ';
		z-index: 20;
		position: absolute;
		background: url("../img/b02_bg_left.png") top center no-repeat;
	}
}

