.b07 {
	padding: 25px 0;
	background: #fff;

	.partners {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		li {
			padding: 0 25px;
			display: inline-block;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			filter: grayscale(100%);
			filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
			filter: gray; /* IE 6-9 */

			&:hover {
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-ms-filter: grayscale(0%);
				-o-filter: grayscale(0%);
				filter: none;
			}

			&:first-child {
				opacity: 0.6;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}