.b07 {
	padding: 25px 0;
	background: #fff;

	.partners {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		li {
			padding: 0 25px;
			display: inline-block;
		}
	}
}