@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic);

// Mixins

@import "mixins/clearfix";
@import "mixins/gradients";
@import "mixins/image";
@import "mixins/opacity";
@import "mixins/vendor-prefixes";
@import "mixins/center-block";

@import "components/utilities";
@import "components/buttons";
@import "components/forms";
@import "components/responsive-embed";

@import "../js/vendor/slick/slick";


@import "block01";
@import "block02";
@import "block03";
@import "block04";
@import "block05";
@import "block06";
@import "block07";
@import "block08";
@import "block09";
@import "block10";
@import "block11";

/* Base styles
   ========================= */

* {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #252525;

}

body {
    font-size: 14px;
    background: #fff;
    position: relative;
    font-family: 'Open Sans', sans-serif;

    &.body-gray {
        background: #eef1f6;

        .b10:after {
            display: none;
        }
    }
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    @include clearfix();
}


h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

h1 {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2 {
    color: #000;
    font-size: 34px;
    line-height: 34px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 40px;
    text-transform: uppercase;

    &:before {
        left: 50%;
        bottom: 0;
        width: 31px;
        height: 6px;
        content: ' ';
        position: absolute;
        margin-left: -15px;
        background: url("../img/sprite.png") -5px -7px;
    }

    span {
        color: #4765c3;
    }
}

p {
    padding: 0;
    margin: 0 0 10px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.list {
        list-style: inherit;
        padding-left: 20px;
        margin-bottom: 10px;
    }
}



// Modal box

.myModal {
    width: 848px;
    padding: 75px;
    background: #fff;
    position: relative;

    .myModal__title {
        color: #000;
        font-size: 34px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;

        span {
            color: #4765c3;
        }
    }

    .myModal__text {
        color: #777;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 70px;
    }

    .form {
        width: 566px;
        margin: 0 auto;
    }

    .myModal__close {
        top: 15px;
        right: 15px;
        width: 17px;
        height: 19px;
        display: block;
        cursor: pointer;
        position: absolute;
        background: url("../img/sprite.png") -35px -39px no-repeat;
    }

    &.service__detail {
        padding: 50px;

        .service__form {

            .form {
                width: auto;
            }
        }


        .service__image {
            float: left;
            width: 300px;
            margin: 0 20px 20px 0;
        }

        .service__text {
            margin-bottom: 30px;
        }
    }

}

.video-box {
    width: 848px;
}

// Animation

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

// Portfolio

.portfolio {
    padding: 55px 60px 50px 60px;
    background: #fff;
    position: relative;
    margin: 0 30px 55px 30px;
    @include border-radius(5px);

    .portfolio__gallery {
        z-index: 50;
        float: left;
        width: 444px;
        position: relative;

        .image-big {
            width: 444px;
            overflow: hidden;
            margin-bottom: 10px;
            @include border-radius(5px);
        }

        .image-big-item {
            display: none;

            &.img1 {
                display: block;
            }
        }

        .portfolio-thumbs {
            padding: 0;
            margin: 0 -9px;
            position: relative;

            li {
                outline: none;
                padding: 4px;
                float: left;
                width: 148px;
                cursor: pointer;
                overflow: hidden;
                margin-left: 5px;
                margin-bottom: 5px;
                background: transparent;
                @include border-radius(6px);

                a {
                    outline: none;
                }

                img {
                    @include border-radius(4px);
                }

                &.active {
                    background: #4765c3;
                }
            }
        }
    }
}

.portfolio__description {
    z-index: 50;
    float: right;
    width: 505px;
    position: relative;

    .portfolio__title {
        color: #000;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 18px;

        span {
            color: #4765c3;
            font-weight: 700;
        }
    }

    .portfolio__task {
        color: #222;
        min-height: 250px;
        font-size: 15px;
        overflow: hidden;
        line-height: 21px;
        padding: 15px 20px;
        background: #eef1f6;
        margin-bottom: 40px;

        .portfolio__task-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            margin-bottom: 10px;
        }
    }

    .portfolio__made {
        color: #444;
        font-size: 15px;
        line-height: 21px;
        padding-bottom: 10px;

        .portfolio__made-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 10px;
        }
    }

    .btn-portfolio-l {
        float: left;
        width: 270px;
        padding: 13px 25px;
    }

    .btn-portfolio-r {
        float: right;
        width: 220px;
        padding: 13px 25px;
    }
}