.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	position: relative;
	background: #ce394a;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border-bottom: 4px solid #a7303d;
	@include border-radius(5px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #a7303d;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-callback {
	width: 197px;
	height: 66px;
	padding: 7px 30px
}


.btn-submit {
	width: 100%;
	height: 50px;
	padding: 11px 60px
}

.btn-medium {
	height: 55px;
	padding: 13px 75px;
}

.btn-large {
	height: 65px;
	padding: 18px 75px;
}